{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block slider %}
{% endblock %}
{% block guest_content %}
  <h1>Registration</h1>
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <form method="post" action="{% url 'registration' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Create account">
  </form>
  <p>
    Already have an account?
    <a href="{% url 'login' %}">Log in!</a>
  </p>
{% endblock %}
