{% extends "base.html" %}
{% load static %}
{% block header %}
  My work-space
{% endblock %}
{% block content %}

  <div id="workspace_cards" class="h-100">
    <div class="row justify-content-center align-items-stretch g-4 h-100">

      {% if task %}
        <div class="col-md-6" id="update_block"
             hx-get="{% url 'task:task-update' task.pk %}"
             hx-target="#workspace_cards"
             hx-swap="innerHTML">
          <div class="card h-100 border-dashed text-center p-5 shadow-sm workspace-card">
            <div class="card-body d-flex flex-column justify-content-center" role="button">
              <i class="bi bi-dash-circle-dotted text-primary fs-1 mb-3"></i>
              <h5 class="fw-bold text-secondary">Update last task</h5>
              <p class="text-muted">Click here to update your last created task</p>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="col-md-6" id="create_block"
           hx-get="{% url 'task:task-create' %}"
           hx-target="#workspace_cards"
           hx-swap="innerHTML">
        <div class="card h-100 border-dashed text-center p-5 shadow-sm workspace-card">
          <div class="card-body d-flex flex-column justify-content-center" role="button">
            <i class="bi bi-plus-circle-dotted text-primary fs-1 mb-3"></i>
            <h5 class="fw-bold text-secondary">Create New Task</h5>
            <p class="text-muted">Click here to add a new task</p>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
