{% extends "base.html" %}
{% block header %}
  My tasks
{% endblock %}
{% block content %}

  <div class="input-group rounded flex-column align-items-center mb-3">
    <form class="w-100"
          hx-get="{% url 'task:task-search' %}"
          hx-trigger="change, input changed delay:500ms"
          hx-target="#tasks"
          class="mb-4">

      <div class="row g-3 justify-content-center">
        <div class="col-md-3 text-center flex-column btn btn-outline-success" id="create_block"
             hx-get="{% url 'task:task-create' %}"
             hx-target="#global_wrapper"
             hx-swap="innerHTML">
          New task
        </div>

        <div class="col-md-5">
          <input type="search" name="search" class="form-control" placeholder="Search by name..."
                 value="{{ request.GET.search }}">
        </div>

        <div class="col-md-3">
          <select name="priority" class="form-select">
            <option value="">Select priority</option>
            <option value="LOW">Low</option>
            <option value="MED">Medium</option>
            <option value="HIGH">High</option>
          </select>
        </div>

        <div class="col-12 text-center">
          <div class="htmx-indicator spinner-border text-primary spinner-border-sm" role="status"></div>
        </div>
      </div>
    </form>

    <div class="htmx-indicator mt-2">
      <div class="spinner-border text-primary spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="ms-2 text-muted">Searching tasks...</span>
    </div>
  </div>
  <div class="d-flex row g-4 align-center" id="tasks">


    {% include "task/partials/task_list_chunk.html" %}
  </div>

{% endblock %}