{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task.name }}
  </h1>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <ul>
      <li>Description: {{ task.description }}</li>
      <li>Deadline: {{ task.deadline }}</li>
      <li>Status: {{ task.is_completed }}</li>
      <li>Priority: {{ task.priority }}</li>
      <li>Type: {{ task.task_type }}</li>
    </ul>
  </div>
  <hr>
  <h2>Workers:</h2>
  <ul>
    {% for worker in task.assignees.all %}
      <li>{{ worker.username }} ({{ worker.first_name }} {{ worker.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
