{% load static %}
{% if not user.is_authenticated %}
  <ul class="sidebar-nav list-group">
    <li class="list-group-item"><a href="{% url 'landing:main-page' %}">Home</a></li>
    <li class="list-group-item"><a href="#">About</a></li>
    <li class="list-group-item"><a href="#">Tools</a></li>
    <li class="list-group-item"><a href="{% url 'login' %}">My work-space</a></li>
  </ul>
{% else %}
  <div class="d-flex flex-column flex-shrink-0 p-3 justify-content-center bg-light w-100 h-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center link-dark text-decoration-none">
      <span class="fs-4">My work-space</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'task:home' %}"
           class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% else %}link-dark{% endif %}">
          <i class="bi bi-house-door">
          </i>
          Home
        </a>
      </li>
      <li>
        <a href="{% url 'task:task-list' %}"
           class="nav-link {% if request.resolver_match.url_name == 'task-list' %}active{% else %}link-dark{% endif %}">
          <i class="bi bi-card-list"></i>
          My tasks
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#table"></use>
          </svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#grid"></use>
          </svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#people-circle"></use>
          </svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
         data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{% static 'icons/2606572_5907.svg' %}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ user.username }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Performance</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>

          {% include "includes/log_out.html" %}

        </li>
      </ul>
    </div>
  </div>
{% endif %}

