<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Delete Task</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body text-center">
    <p class="fs-5">Are you sure?</p>
    <p class="text-danger">Removed task <strong>"{{ task.name }}"</strong> can't be restored.</p>
  </div>
  <div class="modal-footer justify-content-center">
    <form hx-post="{% url 'task:task-delete' task.pk %}" hx-target="#workspace_cards">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger px-4" data-bs-dismiss="modal">Yes</button>
    </form>
    <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">No</button>
  </div>
</div>