{% load static %}
{% if not task_list %}
  <h1 class="text-center p-3">No task found!</h1>
{% endif %}

{% for task in task_list %}
  <div class="col-md-3 card text-center border-dashed shadow-sm flex-column" role="button"
       hx-get="{% url 'task:task-update' task.id %}?next={{ request.path }}"
       hx-target="#global_wrapper"
       hx-swap="innerHTML"
  >

    <div class="card-header">
      {% if task.is_completed %}
        <img src="{% static 'icons/completed.svg' %}" alt="completed" width="32" height="32"
             class="rounded-circle me-2 float-start">
      {% endif %}
      {% if task.deadline %}
        <i class="bi bi-calendar-x me-1"></i> {{ task.deadline }}
      {% else %}
        Without deadline
      {% endif %}
    </div>

    <div class="card-body">
      <h5 class="card-title">{{ task.name }}</h5>
      <p class="card-text">
        <i class="bi bi-card-text me-2"></i>
        {% if task.description %}{{ task.description }}{% else %}No description provided{% endif %}
      </p>
    </div>

    <div class="card-footer">
      <i class="bi bi-tag me-1"></i>
      {% if task.task_type %}{{ task.task_type }}{% else %}Type not defined{% endif %}
    </div>
    <div class="card-footer"><i class="bi bi-flag me-1"></i>{{ task.priority }}</div>
  </div>

  {% if forloop.last and page_obj.has_next %}
    <div class="col-12 text-center py-5"
         hx-get="{{ request.path }}?page={{ page_obj.next_page_number }}&search={{ request.GET.search|default:'' }}&priority={{ request.GET.priority|default:'' }}&is_completed={{ request.GET.is_completed|default:'' }}"
         hx-trigger="revealed"
         hx-swap="outerHTML">

      <div class="htmx-indicator spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>

    </div>
  {% endif %}
{% endfor %}
